@model News.Models.Category

@{
    ViewBag.Title = "Add Category";
}

<h2>Add Category</h2>
<hr />
@using (Html.BeginForm("AddCategory","Admin",FormMethod.Post,new {@class = "form form-horizontal" }))
{
    @Html.ValidationSummary()<br/>
    if ((List<string>)ViewBag.Errors != null)
    {
        foreach (string error in (List<string>)ViewBag.Errors)
        {
            @error
        }
    }
    <div class="form-group">
        <label class="control-label col-md-2" style="text-align:left;">Keyword of this category(1 word)</label>
        <div class="col-md-3">
            @Html.TextBoxFor(x => x.Keyword, new {@class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" style="text-align:left;">Title of category</label>
        <div class="col-md-3">
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" style="text-align:left;">Meta-description</label>
        <div class="col-md-3">
            @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" style="text-align:left;">Meta-keywords (use comma)</label>
        <div class="col-md-3">
            @Html.TextAreaFor(x => x.Keywords, new { @class = "form-control" })
        </div>
    </div>

    <input type="submit"  class="btn col-md-2"  value="Add" />
}